/*-- scss:defaults --*/

$presentation-h1-font-size:	2em;
$presentation-h2-font-size:	1.5em;
$presentation-h3-font-size:	1.3em;
$presentation-h4-font-size:	1em;

$presentation-heading-color: #A2B8CB;

$presentation-font-size-root: 50px;

/*-- scss:rules --*/

@font-face {
  font-family: "Open_Sans";
  src: 
    local(),  
    url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format(truetype);
  }

.row1, .row2, .row3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  grid-gap: 30px;
}

.row1 > p, .row > ul, .row > .col,
.row2 > p, .row > ul, .row > .col,
.row3 > p, .row > ul, .row > .col{
  padding: 0;
  margin: 0;
  list-style-type: none;
	display: grid;
	width: 100%;
	grid-gap: 1em;
  text-align: center;
  font-size: 0.75em;
}

.row1 > p, .row > ul, .row > .col {
  grid-template-columns: 1fr;
}

.row2 > p, .row > ul, .row > .col {
  grid-template-columns: repeat(2, 1fr);
}

.row3 > p, .row > ul, .row > .col {
  grid-template-columns: repeat(3, 1fr);
}

.row1 > .col, 
.row2 > .col, 
.row3 > .col {
  display: flex;
}


.larger {
  font-size: 1.25em;
}

.hide-title > h2 {
  display: none;
}




.reveal img {
  margin: 0.5em;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.reveal img.demoimg {
  /* margin: 1em; */
  border-radius: 5%;
}

.hidetitle > h1, .hidetitle > h2 {
  display: none;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  // -ms-transform: translateY(-50%), translateX(-50%);
  // transform: translateY(-50%), translateX(-50%);
  margin: auto auto;
}

.fullscreen {
  width: 1020px;
  // position: absolute;
  top: 0;
  left: 0;
}


// jeremy's custom css

/*-- scss:defaults --*/
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// fonts
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;

// colors
// $dark-basic: #333333 !default;
// $medium-basic: #707073 !default;
// $light-basic: #c2c2c4 !default;
// $lightest-basic: #fff !default;
// $body-bg: $light-basic !default;
// $body-color: $dark-basic !default;
// $selection-bg: $medium-basic !default;
// $posit-blue-med: #447099 !default;
// $posit-orange-med: #EE6331 !default;
// $code-color: #297075 !default;
  
// dark colors
// $dark-bg: $dark-basic !default;
// $dark-bg-text-color:	$light-basic !default;
// $dark-bg-link-color:	#A2B8CB !default;
// $dark-bg-code-color:	$posit-orange-med !default;

// $link-color: $posit-blue-med !default;
// $link-decoration: underline !default;
// $link-shade-percentage: 20% !default;
// $link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
// $link-hover-decoration: null !default;
 

// Posit colors

  $posit-LIGHT-BLUE-1: #D1DBE5;
  $posit-LIGHT-BLUE-2: #A2B8CB;
  $posit-LIGHT-BLUE-3: #7494B1;
  $posit-Posit-Blue:   #447099;
  $posit-Dark-Blue-1:  #305775;
  $posit-Dark-Blue-2:  #213D4F;
  $posit-Dark-Blue-3:  #17212B;
  $posit-Light-Gray-3: #707073;
  $posit-Posit-Gray:   #404041;
  $posit-Dark-Gray-1:  #333333;
  $posit-Dark-Gray-2:  #242426;
  $posit-Dark-Gray-3:  #151515;
  
// headings
$presentation-heading-font: "Open Sans", sans-serif !default;

/*-- scss:rules --*/

// body {
//   font-weight: 400 !important;
//   color: $dark-basic !important;
// }

h2 {
  font-weight: 200 !important;
  // color: $dark-basic !important;
}

.title-box {
  // color: $lightest-basic;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  left: 25%;
  top: 25%;
  height: 50%;
  width: 70%;
  background-color: #447099;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
  box-shadow: 10px 10px 0px 0px #EE6331;
  border-radius: 6px;
}

.title-text {
  // color: $lightest-basic;
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.title-logo {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  top-margin: 1rem;
}

.nice-block {
  display: block;
  padding: 2rem 5rem 2rem 5rem;
}

section.has-dark-background > h2 {
  font-weight: 300 !important;
  color: #fff !important;
}

.sourceCode.r {
  height: 910px;
}
