@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    url(public/_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}